{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<section class="section-top-border section-gap banner-area align-items-center">
    <div class="container banner-content">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
                <h2 class="mb-30 title text-white"> Register</h2>
                <form action="/login" method="GET">
                    {% csrf_token %}
                    <div class="mt-10">
                        <input type="text" name="first_name" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="text" name="last_name" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
                    </div>
                    <div class="mt-10">
                        <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                    </div>
                    <div class="single-element-widget">
                        <div class="default-select" id="default-select">
                            <select>
                                <option value="1">English</option>
                                <option value="1">Spanish</option>
                                <option value="1">Arabic</option>
                                <option value="1">Portuguise</option>
                                <option value="1">Bengali</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="primary-btn text-uppercase mt-20"> Create Account</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}


		