{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Start banner Area -->
<section class="home-about-area banner-area">
   <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-12 banner-content">
                <h1 class="text-white">Food and Customer Gallery</h1>
                <p class="text-white">
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>
    </div>		
</section>
<!-- End banner Area-->
<!-- Start gallery-area Area -->
<section class="gallery-area" id="gallery">
    <div class="container section-gap">
        <ul class="filter-wrap filters col-lg-12 no-padding">
            <li class="active" data-filter="*">All Menu</li>
            <li data-filter=".breakfast">Breakfast</li>
            <li data-filter=".lunch">Lunch</li>
            <li data-filter=".dinner">Dinner</li>
            <li data-filter=".budget-meal">Budget Meal</li>
            <li data-filter=".buffet">Buffet</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g1.jpg' %}" alt="">
                    </div>	                          
                </div>                           
                <div class="col-lg-4 col-md-6 col-sm-6 all dinner">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g2.jpg' %}" alt="">
                    </div>                            
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 all budget-meal">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g3.jpg' %}" alt="">
                    </div>                            
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 all breakfast">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g4.jpg' %}" alt="">
                    </div>                            
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 all lunch">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g5.jpg' %}" alt="">
                    </div>                            
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 all buffet">
                    <div class="single-gallery">
                        <img class="img-fluid" src="{% static 'MainApp/img/g6.jpg' %}" alt="">
                    </div>                            
                </div>                            
            </div>
        </div>
        
    </div>
</section>
<!-- End gallery-area Area -->	
{% endblock %}